body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#f4f4f4;
  color:#555555;
  font-weight:normal; 
}

.container{
	width:100%;
	margin:auto;
}


h1.title{
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color:#555555;
}

h3.name{
  text-align: center;
  margin-top: 20px;
}

.block-name{
  text-align: center;
  margin-top: 15px;
}

h5.text {
  text-align: center;
  font-size: 40pt;
  padding: 10px;
}

.block {
  margin-top: 15px;
  width: 33.3%;
  margin-bottom: 15px;
  align-items: center;
  align-self: center;
  border:1px solid #ccc;
  box-sizing:border-box;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 0px;
}

.btn {
  margin: auto;
  margin-bottom: 15px;
  align-self: center;
  outline: none;
  display: block;
  border: solid 1px #0081D5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 16px, 30px;
  border-radius: 30px;
  background: #fff;
  color: #0081D5;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover,
.btn:focus{
  background: #0081d5;
  color: #ffffff;
}

.btn:active{
  background:#fff;
  color:#0081D5;
}


.chart {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  box-sizing:border-box;
  align-self: center;
}

#linechart.chart {
  height: 370px; 
  width: 80%;
  align-self: center;
  align-items: center;
  border: 3px solid black;
}

#linechart1.chart {
  height: 370px; 
  width: 80%;
  align-self: center;
  align-items: center;
  border: 3px solid black;
  margin-bottom: 80px;
}

footer{
  align-self: center;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10 em;
	letter-spacing: 0.225em;
  border-top: #555555 5px;
}

ul{
  list-style-type: none;
}

.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #808080;
  z-index: 1;
  display: none;

}

.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #808080;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay{
  display: block;

}

.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}