<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Smart Water Meter</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/index.css">
    <link href='../static/bootstrap/css/bootstrap.min.css' rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}"> -->
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="title">Smart Water Meter System</h1>
      </div>
    </div>
    <div class="container">
      <div class="dropdown" style=" margin-left: auto; margin-right: auto;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style='background-color:#0d6efd;'>
          Please Select Your Region
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="demolist">
          <li><a class="dropdown-item" href="#">Perth</a></li>
          <li><a class="dropdown-item" href="#">South</a></li>
          <li><a class="dropdown-item" href="#">North</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <form action="/connection" method="GET">
        <button type="submit" class="btn btn-primary" id="connection">Connection</button>
      </form>
      <form action="{{ url_for('start_verify',volumn=volumn)}}", method='POST'>
        <input type="text" class="form-control" placeholder="Volumn" name="volumn" id="volumn"></input>
        <button type="submit" class="btn btn-primary" id="start" name="verify_button" value='start'>Start testing</button>
        <button type="submit" class="btn btn-primary" id="end" name="verify_button" value='end'>End testing</button>
      </form>
    </div>
    <div class="container1"> 
      <div class="card">
        <div class="card-image">
          <h3 class="card-title">Water Usage</h3>
        </div>
        <br>
        <h5 class="text">{{rows[0][0]}} <small class="text-muted">KL</small></h5>
        <br> 
      </div>
      <div class="card">
        <div class="card-image">
          <h3 class="card-title">Water Price</h3>
        </div>
        <br>
        <h5 class="text" id="text"><small class="text-muted">/KL</small></h5>
        <br>
      </div> 
      <div class="card">
        <div class="card-image">
          <h3 class="card-title">Estimated Bill</h3>
        </div>
        <br>
        <h5 class="text">${{rows[0][2]}}<small class="text-muted"> today</small></h5>
        <br>
      </div>
    </div>
    
    <div class="container2">
      <div id="linechart"  class="chart"></div>
        <br>
        <div class="container">
          <table class="table table-striped" id="perth">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Region</td>
                <td style="font-weight: bold;">Type</td>
                <td style="font-weight: bold;">KL/year</td>
              </tr>
              <tr>
                <td>Perth Metropolitan</td>
                <td>Tier 1</td>
                <td>0-150 KL</td>
              </tr>
              <tr>
                <td>Perth Metropolitan</td>
                <td>Tier 2</td>
                <td>151-500 KL</td>
              </tr>
              <tr>
                <td>Perth Metropolitan</td>
                <td>Tier 3</td>
                <td>Over 500 KL</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container">
          <table class="table table-striped" id="south">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Region</td>
                <td style="font-weight: bold;">Type</td>
                <td style="font-weight: bold;">KL/year</td>
              </tr>
              <tr>
                <td>South Regional</td>
                <td>Tier 1</td>
                <td>0-150 KL</td>
              </tr>
              <tr>
                <td>South Regional</td>
                <td>Tier 2</td>
                <td>151-300 KL</td>
              </tr>
              <tr>
                <td>South Regional</td>
                <td>Tier 3</td>
                <td>301-500 KL</td>
              </tr>
              <tr>
                <td>South Regional</td>
                <td>Tier 4</td>
                <td>Over 550 KL</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container">
          <table class="table table-striped" id="north">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Region</td>
                <td style="font-weight: bold;">Type</td>
                <td style="font-weight: bold;">KL/year</td>
              </tr>
              <tr>
                <td>North Regional</td>
                <td>Tier 1</td>
                <td>0-350 KL</td>
              </tr>
              <tr>
                <td>North Regional</td>
                <td>Tier 2</td>
                <td>351-500 KL</td>
              </tr>
              <tr>
                <td>North Regional</td>
                <td>Tier 3</td>
                <td>501-750 KL</td>
              </tr>
              <tr>
                <td>North Regional</td>
                <td>Tier 4</td>
                <td>Over 750 KL</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div id="linechart1" class="chart"></div>
    </div>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.js"> </script>
    <script src="../static/bootstrap/jquery/canvasjs.min.js"></script>
    <script src="../static/bootstrap/jquery/jquery/jquery.min.js"></script>
    <script src="../static/index.js"></script>
  </body>
  <hr>
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Water Smart </li><li>Design: GROUP 9</li>
    </ul>
  </footer>
</html>