<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Smart Water Meter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="title">Smart Water Meter System</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="block">
          <h3 class="block-name">Water Meter</h3>
          <br>
          <h5 class="text">$32 <small class="text-muted">/ day</small></h5>
          <br>
          <button type="button" class="btn">More Details</button>
        </div>
        <div class="block">
          <h3 class="block-name">Water Price</h3>
          <br>
          <h5 class="text">$2.05 <small class="text-muted">/ Kilolitre</small></h5>
          <br>
          <button type="button" class="btn">More Details</button>
        </div> 
        <div class="block">
          <h3 class="block-name">Estimated Bill</h3>
          <br>
          <h5 class="text">$76<small class="text-muted"> today</small></h5>
          <br>
          <button type="button" class="btn">More Details</button>
        </div>
      </div>
    </div>
         
    <div class="container">
      <div id="linechart"  class="chart"></div>
        <br>
      <div id="linechart1" class="chart"></div>
    </div>
    
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" 
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" 
    crossorigin="anonymous"></script>
  </body>
  <hr>
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Water Smart </li><li>Design: GROUP 9</li>
    </ul>
  </footer>
</html>