<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>LOGIN</h2>
            </div>
            <div>
                <form class="form" id="form">
                    <div class="form-control success">
                        <label>Username</label>
                        <input type="text" placeholder="abcdefg" id="username">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                    <div class="form-control">
                        <label>Choose Your Area</label>
                        <select name="area" id="area">
                        <option value="Perth Metro">Perth Metro</option>
                        <option value="North">North</option>
                        <option value="South">South</option>
                        </select>
                        <br>
                    </div>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>